body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4;
}

header {
    background-color: #b08f8f;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 25px;
    text-align: center;
}

footer {
    background-color: #333;
    color: rgb(103, 18, 18);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}