body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(13, 183, 166, 0.588);
}

header {
    background-color: #38a177;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 25px;
    text-align: center;
}

footer {
    background-color: #51604e;
    color: rgb(145, 209, 188);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#Boton {
    background-color: #5d77f7;
    color: white;
    padding: 10px 20px;
    border-color: black;
    cursor: pointer;
    border-radius: 20px;
}

#Boton:hover {
    background-color: #260dc4;
}